<div class = "pendingRequest">
  <div class = "profilePicture">
    <%= image_tag user.avatar.url(:thumb) %>
  </div>
  <div class = "profileName">
    <%= user.first_name %> <%= user.last_name %>
  </div>
</div>

