<h3> NEW stuff </h3>
<h3> Friends </h3>
<% @users[0].each do |user| %>
  <%= render partial: "show", locals: {user: user} %>
<% end %>

<h3> Acceptable Requests </h3>
<% @users[2].each do |user| %>
  <%= render partial: "friend_request/acceptableRequest", locals: {user: user} %>
<% end %>


<h3> Sendable Requests </h3>
<% @users[3].each do |user| %>
  <%= render partial: "friend_request/sendableRequest", locals: {user: user} %>
<% end %>

<%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
