
<h3> Acceptable Requests </h3>
<% @users[2].each do |user| %>
  <%= render partial: "friend_request/acceptableRequest", locals: {user: user} %>
<% end %>


<h3> Sendable Requests </h3>
<% @users[3].each do |user| %>
  <%= render partial: "friend_request/sendableRequest", locals: {user: user} %>
<% end %>