<p> Friender: <%= @friendRequest.friender.first_name %> <%= @friendRequest.friender.last_name %> </p>
<p> Friended: <%= @friendRequest.friended.first_name %> <%= @friendRequest.friended.last_name %> </p>

